[submodule "modules/mysql"]
	path = modules/mysql
	url = http://github.com/AWooldrige/puppetlabs-mysql.git
[submodule "modules/puppetlabs-firewall"]
	path = modules/puppetlabs-firewall
	url = http://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "modules/apt"]
	path = modules/apt
	url = http://github.com/camptocamp/puppet-apt.git
[submodule "modules/nodejs"]
	path = modules/nodejs
	url = http://github.com/puppetlabs/puppetlabs-nodejs
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = http://github.com/puppetlabs/puppetlabs-stdlib
