#########################################################################
##   This file is controlled by Puppet - changes will be overwritten   ##
#########################################################################

[Desktop Entry]
Version=0.1.0
Type=Application
Terminal=true
Exec=/home/woolie/bin/start_socks
Name=Start SOCKS to pi3
Comment=Start SSH connection for SOCKS proxy
#Icon=TODO
