#########################################################################
##   This file is controlled by Puppet - changes will be overwritten   ##
#########################################################################

#########################################################################
# Host specific entries
#########################################################################
Host pi3
    Hostname h.wooldrige.co.uk

Host pi2
    Hostname pi2.local
    ProxyJump pi3

# General settings must be placed _after_ more specific ones
Host pi3 pi3.local pi2 pi2.local
    Port 3222
    User woolie


#########################################################################
# General options
#########################################################################
# SSH sessions will terminate after 20 (5*4) seconds of network inactivity
ServerAliveInterval 5
ServerAliveCountMax 4


# A lot of the below is clobbered from:
# https://infosec.mozilla.org/guidelines/openssh

# Ensure KnownHosts are unreadable if leaked - it is otherwise easier to know
# which hosts your keys have access to.
HashKnownHosts yes
# # Host keys the client accepts - order here is honored by OpenSSH
HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-rsa-cert-v01@openssh.com,ssh-ed25519,ssh-rsa,ecdsa-sha2-nistp521-cert-v01@openssh.com,ecdsa-sha2-nistp384-cert-v01@openssh.com,ecdsa-sha2-nistp256-cert-v01@openssh.com,ecdsa-sha2-nistp521,ecdsa-sha2-nistp384,ecdsa-sha2-nistp256

KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256

MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr


